{% extends "index.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}


    <ul>

    <li> Who am I? <br> Hi it's me Tamanna.
        I'm a Masters student in Computer Science at Columbia University,
    specializing in Machine Learning and Natural Language Processing. Previously I studied Chemical and Biological Engineering and
    graduated with honors from Princeton University
    </li>

        <li> Why NLP/CS?  <br>

            As a Data Scientist, I became drawn to NLP for the tool's ability
    to process free text data.I had always loved languages. I speak 3 fluently, English, Spanish, and Bengali.
    Working on my French at the moment.
        </li>

        <li> What do I want to do with it? <br>
             I am interested in encapsulating the complexity of language into computer systems.
    Building tools that aid us to interact with computers and each other.
    Machine translation and dialogue systems.

        </li>

 <li> Skills/Qualification <br>
     I was a Teaching Assistant for Natural Language Processing in Fall 2021.
 PyTorch,
 Data Visualization- PowerBI.
 </li>

    <li> . Hobbies include: <br>

    </li>


    </ul>



{% endblock %}