


{% extends "index.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}

Senior Thesis Project, Princeton University
August 2017- May 2018
○␣ Identified relA as an enzyme that plays an important role in prioritizing Nitric Oxide clearance under nitrogen starvation in E. coli, increasing understanding of antibiotic resistance mechanisms.
○␣ Established enzyme kinetic profiles through bioreactor-based experiments, and updated the mathematical model based on the results.
○␣ Defended thesis to a panel of professors, presented findings to in poster session, and submitted a publication-quality thesis document.
Research Assistant, Prud’homme group, Princeton University Summer 2017
○␣ Used Prud’homme group’s polymer directed self-assembly method, Flash Nano Precipitation (FNP), to encapsulate drugs like itraconazole and clofazimine into nanoparticles stabilized by EUDRAGIT® enteric coating polymers
○␣ Demonstrated that the nanoparticles formed were stable and a number of the formulations released in a pH dependent manner, a fact with implications for targeted drug delivery in the gastrointestinal tract
○␣ Analyzed the size and quality of the nanoparticles, examined their stability for up to a week-long period,
conducted release studies in bio-relevant media to assess their release kinetics, and received training in
spray-drying techniques to concentrate the nanoparticles into oral dosage.
Summer Fellow- Professor Jose Avalos, Princeton University Summer 2016
○␣ Established standard protocols for cloning and handling of Yarrowia lipolytica
○␣ Worked on developing a functional light-inducible system in the yeast Yarrowia using VP-EL222 system.
○␣ Designed primers and vectors using Gibson Assembly, analyzed gel samples, DNA sequenced results,
analyzed fluorescence levels to determine inducibility of the system, measured OD to monitor cell growth

{% endblock %}