{% extends "index.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}

    here are my projects! <br>
    English to Spanish Translator <br>
    github.com/ta2642/classic-data-augmentation <br>
○␣ Built a custom Encoder-Decoder Seq-2-Seq model that takes in English sentences and returns Spanish translation. <br>
    Also processed the underlying dataset and created custom language class.
→ PyTorch, GCP, Flask, HTML, CSS. <br>
Guess the Etymology Game github.com/ta2642/SpellChecker <br>
○␣ Built a web game that features a game for guessing word-origin in a modern front-end design. → Javascript, CSS, NodeJS, Express Framework
Web Server From Scratch Using C git.io/JWaQ <br>
    ○␣ Implemented a 3-tier server in C using HTTP 1.0 protocol and socket API that connects to back-end database to
fetch info and serves static content to client in HTML.



{% endblock %}